<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=390, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}Система видеонаблюдения{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="mobile-viewport {% block viewport_class %}{% endblock %}">
        {% block content %}{% endblock %}
        {% include "components/bottom_nav.html" %}
    </div>
</body>
</html>
